.App{
    background: linear-gradient(180deg, #6ECD56 0%, #FFFFFF 100%);
}

.container{
    text-align: center;
}

h1{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */


    color: #484848;
}